#IDE
.idea
.vscode/*

# Misc
.DS_Store

# Node
/node_modules/
.env

# Build
/dist/

# Test
/test/testFiles/

# Docker
.devcontainer/

# In Progress
src/services/archive.js
src/services/collectManual.js
```